@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
     background-color: rgb(226, 202, 170);
     font-family: 'Roboto', sans-serif;
     font-size: 18px;
     color:black;
     
}

.container{
     width:80%;
     background-color:white;
     margin-left: 30%;
     font-family: 'Roboto', sans-serif ;
     font-size: 18px;
     color: black;
}

#header{
     font-size:18px;
     color: rgb(63, 38, 5);
     margin-left: 30px;
}
a:hover{
     background-color:rgb(190, 132, 54);
     color: white;
}
h1{
     margin-left: 30px;
     color: rgb(49, 32, 10);
}
h2{
     margin-left: 5px; 
     color: rgb(49, 32, 10);
     width: 100%;
}
h3{
     margin-left: 30px;
     color: rgb(49, 32, 10);
}
h4{
     margin-left: 30px;
     color:rgb(49, 32, 10); 
}

div{
     font-size: 18px ;
     font-family: 'Roboto', sans-serif;
     border-color: black;
     border-width: 3px;
     border-inline-start-style: initial;
     border-bottom: black;
}

 
.bb{
     padding-top:20px;
     padding-bottom:20px;
     color: rgb(48, 28, 38);
}

#paragraph{
     width:100%;
     margin-left:30px;

}


#cook{
     width:1000px;
     margin-left:30px;
     
}
     
#intro{
     float: inline;
     width: 1200px;
     margin-left: 30px;
     font-size: 18px;
}

.tarts1{
     float: left;
     width: 400px;
     
}
.tarts2{
     float: left;
     width:400px;

}
.tarts3{
     float: left;
     width:400px;
}

#cancel{
     clear: both;
}

    
}
#method li{
     list-style-type: decimal;

}

.method{
     list-style-type: decimal;
     width:80%;
     float:left;
     margin-left:30px;

}

#meth{
     clear: both;
     width: 80%;
     
}

#aside{
     float:right;
     display:inline-block
}

#images{
     /*float: right;*/
      text-align: right;
     
}

#img2{
     /*float: right;*/
     text-align: right;
     
}

#img3{
     /*float: right;*/
     text-align: right;
}
@mediascreen and (max-width:722px)
{
     h2{
          font-size:16px;
     }
     #paragraph{ 
          width: auto;



     }
}

